.highlight {
   position: fixed;
   bottom:0;
   right:0;
   border-radius: 8px;
   border-color: black;
   background-color: yellow;
   padding: 5px;
}
.high {
   color: black;
}
.colorize {
   position: fixed;
   bottom: 32px;
   right:0;
   border-radius: 8px;
   border-color: black;
   background-color: aqua;
   padding: 5px;
}
.color {
   color: black;
}